{
   "tabWidth": 3,
   "singleQuote": true,
   "trailingComma": "none",
   "printWidth": 200,
   "semi": true,
   "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
   "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
